In [20]:
import pandas as pd
data=pd.read_csv('Social_Network_Ads.csv')

In [21]:
x=data.iloc[:,0:2]

In [22]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [23]:
y=data['Purchased']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30)

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [26]:
x_train.shape

(280, 2)

In [27]:
y_train.shape

(280,)

In [28]:
y_pred_test=dtc.predict(x_test)

In [29]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [30]:
print( "precision_score:" ,precision_score(y_test, y_pred_test))

print("recall_score:" ,recall_score(y_test, y_pred_test))

print("accuracy_score:" ,accuracy_score(y_test, y_pred_test))
print("f1_score:",f1_score(y_test, y_pred_test))

precision_score: 0.84
recall_score: 0.84
accuracy_score: 0.8666666666666667
f1_score: 0.8399999999999999

In [31]:
from sklearn.metrics import roc_auc_score

In [32]:
print ("AUC&ROC",roc_auc_score(y_test, y_pred_test))

AUC&ROC 0.8628571428571428