In [20]:
import pandas as pd
data=pd.read_csv('Social_Network_Ads.csv')

In [21]:
x=data.iloc[:,0:2]

In [22]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [23]:
y=data['Purchased']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30)

In [34]:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(n_estimators=10,random_state=0)
RF.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [35]:
y_pred_test=RF.predict(x_test)

In [36]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [37]:
print( "precision_score:" ,precision_score(y_test, y_pred_test))

print("recall_score:" ,recall_score(y_test, y_pred_test))

print("accuracy_score:" ,accuracy_score(y_test, y_pred_test))
print("f1_score:",f1_score(y_test, y_pred_test))

precision_score: 0.8947368421052632
recall_score: 0.8095238095238095
accuracy_score: 0.9
f1_score: 0.8500000000000001

In [38]:
from sklearn.metrics import roc_auc_score

In [39]:
print ("AUC&ROC",roc_auc_score(y_test, y_pred_test))

AUC&ROC 0.8791208791208791